*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background-color: #181e24;
  min-height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

.header{
  color: #fff;
  text-align: center;
  padding-top: 5rem;
}

.header p{
  color: #898d9c;
  padding-top: 1.3rem;
  font-size: large;
}

.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  gap: 0.5rem;
}

.slider button{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #181e24;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}

.slider button:hover{
 border: 1px solid gray;
}

.slider button:active{
  background-color: rgb(245, 245, 26);
  border: none;
}

.slider_button{
  color: #fff;
}
.slider button:hover .slider_button{
  color: gray;
}

.content{
  background-color: #fff;
  height: 350px;
  width: 650px;
  display: flex;
  padding: 0 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  transition: all 0.3s;
}

.person_photo{
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.company_logo{
  height: 40px;
  width: 100px;
}

.left_content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 300px
}

.right_content{
  font-size: large;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.right_content a{
  text-decoration: none;
  color: rgb(68, 67, 67);
  transition: all 0.3s;
  font-size: 16px;
}

.right_content a:hover{
  color: green;
}

.more{
  text-align: center;
  margin-top: 4rem;
}

.more button{
  background-color: #2dbc6a;
  color: #fff;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.more button:hover{
  background-color: #269254;
}

.more button:active{
  background-color: #06592c;
  transition: 0.3s all ease-in-out;
  transform: scale(0.99);
}

.left_image_container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 350px;
  justify-content: space-around;
  align-items: center;
  margin-top: 6rem;
  margin-right: 5rem;
  user-select: none;
  transition: all 0.3s;
}

.right_image_container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 350px;
  justify-content: space-around;
  align-items: center;
  margin-top: 6rem;
  margin-left: 5rem;
  user-select: none;
  transition: all 0.3s;
}

.left_image_container img, .right_image_container img{
   height: 50px;
   width: 50px;
   border-radius: 50%;
}

.top-image{
  display: flex;
  gap: 6rem;
  transition: all 0.3s;
}

.bottom-image{
  display: flex;
  gap: 6rem;
  transition: all 0.3s;
}

.mid_container{
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 1550px){
  .slider{
    margin-top: 3rem;
  }
  .left_image_container{
    margin-right: 1rem;
  }
  .top-image{
    gap: 2rem;
  }
  .bottom-image{
    gap: 2rem;
  }

  .right_image_container{
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 1050px){

  .left_image_container{
       height: 300px;
  }

  .right_image_container{
    height: 300px;
}

  .left_image_container img, .right_image_container img{
     height: 30px;
     width: 30px;
  }

  .top-image{
    flex-direction: column;
  }
  .bottom-image{
    flex-direction: column;
  }
}

@media only screen and (max-width: 850px){
  .content{
    width: 550px;
    transition: all 0.3s;
  }
}

@media only screen and (max-width: 750px){
  html{
    font-size: 12px;
  }
  .header{
    padding-top: 2rem;
  }
  .content{
    width: 240px;
    flex-direction: column;
    height: 100%;
  }
  .slider{
    margin-top: 2rem;
  }
  .more{
    margin-top: 2rem;
    padding-bottom: 1rem;
  }
  .left_content{
    font-size: 16px;
    margin-top: 2rem;
  }
  .right_content{
    font-size: 15px;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
  }

  .left_image_container{
    margin: 0;
  }
  .right_image_container{
    margin: 0;
  }
  .mid-image{
    margin-bottom: 4rem;
  }
  .left_image_container img, .right_image_container img{
    height: 20px;
    width: 20px;
 }
 .more button{
  font-size: small;
 }
}

@media only screen and (max-width: 374px){
  .left_image_container img, .right_image_container img{
    height: 10px;
    width: 10px;
 }
 .content{
  width: 160px;
 }
 p,a{
  font-size: small;
 }

}